.navbar {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.911);
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 5vh;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  li {
    margin: 0 20px;
    a {
      
      text-decoration: none;
      color: black;
      border: 1px solid black;
      padding: 5px;
      border-radius: 5px;
    }
    a:visited {
      color: none;
    }
    
    a:hover {
      color: white !important;
      background-color: black;
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar{
    li{
      margin: 0 12px;
    }
  } 
}

