.project-wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}